.prod-card {
  height: 30vh;
  width: 450px;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  margin: 20px auto;
}

.prod-brower {
  position: sticky;
  z-index: 2;
  height: 30px;
  background-color: rgb(192, 192, 192);
  display: flex;
  align-items: center;
}
.brower-circle {
  margin: 2px;
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 50%;
}
.prod-img {
  width: 100%;
  transition: all 10s ease;
}
.prod-img:hover {
  transform: translateY(-70%);
}


